*{
    font-family: 'Work Sans', sans-serif;
  }

.double-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.59);
    margin-bottom: 50px;
}
.double-input:focus {
    outline:none;
}

.div-search{
    text-align: center;
}

.addButton{
    border: 0;
    border-radius: 8px;
    background-color: #F7B925;
    color: #000000;
    padding: 10px 40px;
    margin: 10px;
    margin-top: -20px;
}