a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.round-container-small{
    background-color: rgba(255, 255, 255, .4);
    border-radius: 16px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

