.css-3scdmw{
 background-color: #2E2D2D;

}
.chakra-text{

    color: white;
}
.css-13otjrl{
    color: white;

}

.css-1hjbzlu{

    padding: 0px;
}

.css-1f0hj4m{

    margin-inline-end: auto;
}

.css-13pk9z2{
    max-width: 100%;

}

